<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
	
	<div>
	
	<img src="images/logo-texto-de-ejemplo_355-558.jpg" width="100px" alt="logo">
	</div>

    {{{body}}}

</body>
</html>
